$general-font-size: 14px;

$general-background: #F7F8FA;
$section-background: #FFFFFF;
$quest-background: #f9f4f8;
$white: #ffffff;
$black: #000000;
$pink: #FB6C95;
$gray: #E7EDF9;
$bg-gray: #f3f3f3;
$light-gray: #F3F6FB;
$dark-pink: #df4e7a;
$blue: #3D73FE;
$font-color: #333333;
$section-title-color: #2F2E34;
$font-size: 0.35rem;

/* 页面内容 */
$container-width: 1200px;
$home-width: 884px;
$aside-width: 300px;

/* 页面主题 */
// base
$base-color: rgba(61,115,254,1);

$hover-transtion: 0.5s linear;
